<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test de téléchargement de fichier avec Multer</title>
</head>
<body>
  <h2>Test de téléchargement de fichier avec Multer</h2>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="nomFichier" placeholder="Nom du fichier"><br>
    <input type="file" name="fichier"><br>
    <button type="submit">Télécharger</button>
  </form>
</body>
</html>